<header class="header">
    <div class="header__contenedor">
        <div class="header__barra">
            <a routerLink="/">
                <img class="header__logo" src="../../../assets/logo.png" alt="logo"/>
            </a>
            <nav class="navegacion">
                <a class="navegacion__enlace" routerLink="/">Home</a>
                <a class="navegacion__enlace" routerLink="/about">About us</a>
                <a class="navegacion__enlace" routerLink="/blog">Blog</a>
                <a class="navegacion__enlace" routerLink="/shop">Shop</a>
            </nav>
        </div><!--.header-barra-->
    </div> 
</header>
