<header class="header">
    <div class="header__contenedor">
        <div class="header__barra">
            <a routerLink="/">
                <img class="header__logo" src="../../../assets/logo.png" alt="logo"/>
            </a>
            <nav class="navegacion">
                <a class="navegacion__enlace" routerLink="/">Home</a>
                <a class="navegacion__enlace" routerLink="/about">About us</a>
                <a class="navegacion__enlace" routerLink="/blog">Blog</a>
                <a class="navegacion__enlace" routerLink="/shop">Shop</a>
            </nav>
        </div><!--.header-barra-->
    </div>
    <div class="header__contenedor">
        <div class="modelo">
            <h1 class="modelo__nombre">Modelo VAI</h1>
            <p class="modelo__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit fuga consectetur iusto laborum accusantium doloribus! Totam porro nesciunt doloribus voluptates? Odit sit rem quis distinctio qui sint eos quaerat neque!</p>
            <p class="modelo__precio">399€</p>
            <a class="modelo__enlace" href="#" >Ver Producto</a>
        </div>
    </div>
    <img class="header__guitarra" src="../../../assets/header_guitarra.png" alt="header__guitarra"/> 
</header>
