<section class="cursos">
    <div class="cursos__contenedor cursos__grid">
        <div class="cursos__contenido">
            <h2 class="cursos__heading">Learn to play guitar</h2>
            <p class="cursos__texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit nostrum voluptas amet, iure quia vel modi quibusdam. Suscipit et eaque officiis ea atque iure exercitationem quas non aliquid illum!</p>
            <a class="cursos__enlace" href="#">More information</a>
        </div>
    </div>
</section>
