<app-navbar></app-navbar>
<main class="nosotros nosotros__contenedor">
    <h2 class="nosotros__heading">About us</h2>
</main>
<div class="nosotros__grid">
    <img src="../../../assets/nosotros.jpg" alt="imagen_nosotros"/>
    <div class="nosotros__contenido">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque officia exercitationem facilis, pariatur laudantium in error, dolor tempore impedit a eius odio, reiciendis hic. Praesentium ex quod iure esse nihil.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, atque incidunt eaque facilis minima doloribus non suscipit necessitatibus! Quo eum magni earum maxime vel quaerat aperiam labore commodi illo dolorum!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit corrupti placeat ratione blanditiis quia at deleniti optio nihil dolorem ipsam beatae voluptatem rem, earum obcaecati repudiandae? Omnis officiis quas a.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, inventore corrupti. Tenetur quisquam ullam natus, vitae facere quae rerum ducimus labore neque, quod velit at. Tempora vero molestiae vel incidunt.
        </p>
    </div>
</div>
<app-footer></app-footer>
